html, body {
  color: #494847;
  background-color: #f3f2f1;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: sans-serif;
}

:not(input) {
  user-select: none;
}

.popup {
  width: 500px;
  height: 600px;
  display: flex;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
  white-space: nowrap;
}

.no-margin {
  margin: 0;
}

.no-pointer-events {
  pointer-events: none;
}

.not-allowed-cursor {
  cursor: not-allowed;
}

.full-height {
  height: 100%;
  flex: 1;
}

.margin-vertical {
  margin-top: 12px;
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 12px;
}

.margin-bottom {
  margin-bottom: 12px;
}

.margin-left {
  margin-left: 12px;
}

.margin-right {
  margin-right: 12px;
}

.margin-right-s {
  margin-right: 5px;
}

.margin-top-s {
  margin-top: 5px;
}

.margin-bottom-s {
  margin-bottom: 5px;
}

.margin-left-s {
  margin-left: 5px;
}

.margin-full {
  margin: 12px;
}

.padding-full {
  padding: 12px;
}

.padding-top-s {
  padding-top: 5px;
}

.padding-bottom-s {
  padding-bottom: 5px;
}

.box {
  background-color: #fff;
  padding: 12px;
}


.cracked-bg {
 background-color: rgb(72, 0, 139);
  color: rgb(243, 242, 241);
}

@keyframes bganimation {
  0%{background-position:0% 7%}
  50%{background-position:100% 94%}
  100%{background-position:0% 7%}
}

.logo {
  font-size: 24px;
}

.logo img {
  transition: opacity 0.3s;
}

.setup-details {
  line-height: 1.5em;
}

.setup-details small {
  color: lightgray;
  font-weight: 600;
}

.error, .error a {
  fill: #cc1111;
  color: #cc1111;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.horizontal-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.centered-v {
  align-items: center;
}

.centered {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.left-aligned {
  text-align: left;
  align-items: flex-start;
}

.space-between {
  justify-content: space-between;
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.5;
}

.selector-active {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 200px;
  z-index: 1040;
  border: 1px solid #e5e5e5;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.unselectable {
  user-select: none;
}

.config-selector {
  /* min-height: 40px; */
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

.new-preset-btn {
  margin-left: 2px;
  margin-right: 1px;
}

.config-editor {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  height: 0px;
}

.config-editor table {
  border: none;
  border-collapse: collapse;
}

.config-editor table th {
  font-weight: 600;
}

.config-editor table tr, td {
  cursor: default;
  height: 32px;
  min-width: 120px;
}

.config-editor table th {
  text-align: left;
}

.config-editor table td .delete-icon {
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.7) translate(40%, -40%);
}

.config-editor table td {
  position: relative;
  text-align: center;
  padding: 0 5px;
  background-color: rgba(0, 0, 0, 0.025);
}

.config-editor table td.none {
  background-color: transparent;
  opacity: 0.5;
}

.config-editor table td.empty {
  color: transparent;
  user-select: none;
}

.config-editor table td:not(.empty)>div {
  padding: 3px;
  background-color: #eee;
}

.config-editor table tr td:not(:last-of-type) {
  border-right: 1px solid #ccc;
}

.global-prefs-body h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.global-prefs-body label {
  padding-top: 0;
}

.global-prefs-body .command-keys {
  letter-spacing: 0.5ch;
}
